old_files/*
**.pyc
codes/ciao_library.py
codes/NGC3532/*
codes/FGL/*
codes/Updating/*
codes/Review_report/*
codes/Evaluation/private/*
codes/HESS/*
codes/CSCv2_classification/*
codes/demo/data/query/*
codes/demo/data/query/old/*
files_v1/*
files/CSCv2_all_MW_classprob_XCLASS.csv
codes/MRT/*
codes/buildTD/old_files/*
#codes/NGC3532/data/NGC3532_02182022/Astrometry/*
*.pyc
codes/demo/data/**.csv
codes/nway_cross-matching/*
codes/data/*
