old_files/*
codes/ciao_library.py
codes/NGC3532/*
codes/4FGL/*
codes/Updating/*
codes/Review_report/*
codes/Evaluation/*
codes/HESS/*
codes/CSCv2_classification/*
codes/demo/data/query/*
#codes/NGC3532/data/NGC3532_02182022/Astrometry/*
*.pyc
